.hero {
    position: relative;
}

.hero_centered_verticaly {
    display: flex;
    align-items: center;
}

.hero::after {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    background: url("../../image/Wave.png");
    z-index: 2;
}

/* Landing */
.hero_size_large {
    height: 500px;
}

/* Another pages */
.hero_size_small {
    height: 127px;
}

.hero__content {
    position: relative;
    display: flex;
    z-index: 3;
}

.hero__content_center {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 70%;

    padding: 32px 0;
}

.hero__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.hero__title_left {
    text-align: start;
}

.hero__title_white {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
}

.hero__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}


@media (min-width: 481px) {
    .hero_size_large {
        height: 400px;
    }

    .hero_size_small {
        height: 180px;
    }
}

@media (min-width: 769px) {
    .hero_size_large {
        height: 521px;
    }

    .hero_size_small {
        height: 224px;
    }

    .hero__title {
        font-size: 56px;
    }
}

@media (min-width: 1025px) {
    .hero_size_large {
        height: 734px;
    }

    .hero_size_small {
        height: 315px;
    }

    .hero__title {
        font-size: 80px;
    }

    .hero__content_center {
        padding: 64px 0;
    }
}